:root{
  --sidebar_one_spacing: 250px;
  --sidebar_two_spacing: 250px;
  --sidebar_two_width: 350px;
  --both_sidebar_spacing:550px;

  --sidebar_one_small: 100px;
  --sidebar_two_small: 100px;
  --sidebar_two_small_width: 150px;
  --both_sidebar_small:200px;
  --five_card: 5;
  --four_card: 4;
  --three_card: 3;
  --two_card: 2;

}

.flex-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }


.main_page_spacing_closed{
  margin-left: var(--sidebar_one_spacing) !important;
  /* width:var(--sidebar_one_spacing); */
}

.main_page_spacing_open{
  margin-left: var(--both_sidebar_spacing);
  /* width: var(--both_sidebar_spacing); */

}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;
    transition: all 0.3s;
}


/* Sidebar Styling */
.wrapper{
    display: flex;
    width: 100vw;
    align-items: stretch;
  }

#sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    min-width: var(--sidebar_one_spacing);
    max-width: var(--sidebar_one_spacing);
    overflow-y: scroll;
    z-index: 100;
    background: #DEF2F1;
    transition: all 0.3s;
  }
  
  #sidebar_2 {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: var(--sidebar_two_spacing);
    max-width: var(--sidebar_two_width);
    overflow-y: scroll;
    background-color: lightgrey;
  }

  #sidebar_2 .active {
    margin-left: -350px;
  }

  .sidebar-header {
    padding: 20px;
    font-size: 1.2rem;
  }
  
  .pantry_cat_item{
    color: #fff;
    border: 2px solid #17252A;
    background-color: #2B7A78;
    padding: 5px;
    margin-bottom: 5px;
    /* background-color: rgb(108, 173, 168); */
  }
  #sidebar .list_group_item {
    border: 2px solid #17252A;
    background-color: #dee2e6;
    padding: 5px;
  }
  
  .pantry_list_item {
    color: #fff;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: rgb(108, 173, 168);
  }
  .drop_zone{
    min-height: 100px;
  }

@media (max-width: 2240px) {
  .flex-grid {
      grid-template-columns: repeat(4, 1fr)
    }
}

@media (max-width: 1920px) {
  .flex-grid {
      grid-template-columns: repeat(3, 1fr)
    }
}

  @media (max-width: 1600px) {
    .flex-grid {
        grid-template-columns: repeat(2, 1fr)
      }

}

@media (max-width: 991px) {
  .flex-grid {
      grid-template-columns: repeat(18rem, 1fr)
  }
  .main_page_spacing_closed{
    margin-left: var(--sidebar_one_small) !important;
  }
  .main_page_spacing_open{
    margin-left: var(--both_sidebar_small);    
  }

  #sidebar {
    min-width: var(--sidebar_one_small);
    max-width: var(--sidebar_one_small);
  }
  
  #sidebar_2 {
    left: var(--sidebar_two_small);
    max-width: var(--sidebar_two_small_width);
  }

}