@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap";

.App {
  text-align: center;
}
body {
  font-family: 'Poppins', sans-serif;
  padding-top: 65px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.navbar {
  position:fixed;
  top: 0;
  left: 0
}
.nav-btn-left {
  text-align: right;
}

/* @media (min-width: 1000px) {
  .flex-grid { grid-template-columns: repeat(2, 1fr); }
} */

.card {
  margin-left: auto;
  margin-right: auto;
}

.form_box{
  border: 2px solid grey;
  border-radius: 10px;
}

#home-img {
  max-width: 30%;
  max-height: auto;
  padding: 1%;
}
.home_page_text{
  max-width: 40%;
  margin-left: auto;
  margin-right:auto;
  padding-top: 1%;
}
#home_page_row{
  margin-left: auto;
  margin-right:auto;
}

.about-card {
  max-width: 60%;
  max-height: auto;
  border-style: hidden;
  margin-left: auto;
  margin-right:auto;
}

.about-img{
  max-width: 60%;
  max-height: auto;
}
li{
  color: #999;
}

.delete_symbol {
  margin-top: 5px;
  float: right;
}

.btn-primary {
  background-color: #2B7A78 !important;
  border-color: #2B7A78 !important;
}

